@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*
{
    margin: 0;
    padding: 0;
}
html
{
    --dark-color: #545863;
    --bright-color: #D64933;
    --soft-color: #AAA694;

    --accent-font: 'Sancreek';
    --main-font: 'Patrick Hand';

    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--main-font);
    color: var(--dark-color);
}

nav
{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--dark-color);
    padding: 1rem;
}

section
{
    height: 100vh;
    margin: 0;
    padding: 0;
}

footer
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: var(--dark-color);
    color: var(--soft-color);
}

footer > div
{
    margin: auto 1rem 1rem;
    width: fit-content;
}

footer > div > a
{
    color: var(--soft-color);
}

footer > div > a:visited
{
    color: var(--soft-color);
}

h1, h2, h3, h4, h5, h6
{
    font-family: var(--accent-font), serif;
}

li
{
    margin: 1rem auto;
}

button
{
    height: inherit;
    width: 3rem;
    align-self: center;
    height: 3rem;
    border: 1px;
    border-radius: 50%;
    background-color: var(--soft-color);
    box-shadow: none;
    margin: auto 1rem;
}

.inactive
{
    display: none;
}

.nav-link 
{
    color: var(--soft-color); 
}

#logo-link
{
    text-decoration: none;
    margin-left: 2rem;
}

#nav-links
{
    grid-area: span 2;
    margin-bottom: 1rem;
    display: flex;
    align-self: last baseline;
    justify-content: space-evenly;
}

#about
{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--soft-color);
}

#about > article
{
    align-self: center;
    font-size: xx-large;
    padding: 5rem;
}

#about-links
{
    color: var(--bright-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-link
{
    margin: 5rem;
    text-decoration: none;
    font-size: large;
    transition: font-size 1s;
}

.about-link:hover
{
   font-size: larger;
}

#course
{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    background-color: var(--dark-color);
    font-size: x-large;
    color: var(--soft-color);
}

#course-heading
{
    font-size: xx-large;
    padding-top: 5rem;
    padding-left: 10rem;
}

.course-headings
{
    font-size: x-large;
    padding: 1rem;
}

#course > article
{
    margin: 2rem 5vw;
}

#testimonials-container
{
    display: grid;
    height: 10rem;
    grid-template-columns: auto 1fr auto;
    background-color: var(--bright-color);
}

.testimonial
{
    align-self: center;
    justify-self: center;
    font-size: x-large;
    width: 75vw;
}

#order
{
    display: grid;
    grid-template-rows: 10rem auto auto;
    background-color: var(--soft-color);
}

#order > article
{
    display: grid;
    justify-self: center;
    margin: 2rem 3rem;
}

#order > article > h2, h6
{
    justify-self: center;
}

#order > article > ul
{
    width: 70vw;
}

#order-link-block
{
    display: grid;
    grid-template-areas: 
    "h3 a";
    margin-bottom: 3rem;
}

#order-link-block > h3
{
    align-self: center;
    justify-self: center;
}

#order-link
{
    height: 3rem;
    width: 7rem;
    align-self: center;
    background-color: var(--bright-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#contact
{
    display: flex;
    flex-direction: column;
}

#location > span
{
    margin: 1rem auto
}

#branding
{
    justify-self: center;
    align-self: last baseline;
    grid-column: span 3;
}

#branding > span
{
    margin: auto 6em;
    margin-bottom: 2rem;
}

.icon
{
    display: none;
}

@media screen and (max-width: 500px) 
{
    body
    {
        max-width: 100vw;
        font-size: medium;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    main
    {
        display: grid;
        grid-template-rows: auto auto 1fr;
    }

    section
    {
        height: auto;
        max-width: 100vw;
        /* min-height: 100vh; */
    }

    article
    {
        font-size: medium;
    }

    .icon 
    {
        display: inline;
    }

    .nav-link
    {
        display: none;
    }

    #about-links
    {
        display: none;
    }

    #about
    {
        max-height: 75vh;
    }

    #about > article 
    {

        padding: 1rem;
    }

    #course-heading
    {
        font-size: large;
        align-self: center;
        padding: 1rem;
    }

    .course-headings
    {
        font-size: large;
    }

    #course
    {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }

    .testimonial
    {
        font-size: medium;
        width: 70vw;
    }

    #testimonials-container
    {
        height: 10vh;
    }

    #course > article
    {
        margin: .5rem 5vw
    }

    #order > article
    {
        margin: 1rem 2rem;
    }

    #lessons > h2
    {
        font-size: medium;
    }

    #materials > h2
    {
        font-size: medium;
    }

    button
    {
        margin: .5rem .5rem;
    }

    #order
    {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
    }
}