@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*
{
    margin: 0;
    padding: 0;
}
html
{
    --davys-gray: #545863ff;
    --khaki: #aaa694ff;
    --chili-red: #d64933ff;

    --sancreek: 'Sancreek';
    --patrick-hand: 'Patrick Hand';

    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--patrick-hand);
    color: var(--davys-gray);
}
header
{
    display: flex;
    justify-content: center;
}

nav:hover .dropdown-items
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-items
{
    display: none;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.dropdown-items > a
{
    display: flex;
    justify-content: center;
}

.page
{
    height: 100vh;
    
    margin: 0;
    padding: 0;

    font-size: xx-large;
}

.page#who
{
    background-color: var(--khaki);
    color: var(--davys-gray);
}

.page#heritage
{
    background-color: var(--davys-gray);
    color: var(--chili-red);
}

.page#audience
{
    background-color: var(--chili-red);
    color: var(--khaki);
}

.page#accreditation
{
    background-color: var(--khaki);
    color: var(--davys-gray);
}

.page#services
{
    background-color: var(--davys-gray);
    color: var(--chili-red);
}

.page#topics
{
    background-color: var(--chili-red);
    color: var(--khaki);
}

.page#certification
{
    background-color: var(--khaki);
    color: var(--davys-gray);
}

.page#testimonials
{
    background-color: var(--davys-gray);
    color: var(--chili-red);
}

.page#order
{
    background-color: var(--khaki);
    color: var(--davys-gray);
}

@media screen and (max-width: 500px) {}