@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*
{
    margin: 0;
    padding: 0;
}
html
{
    --dark-color: #545863;
    --bright-color: #D64933;
    --soft-color: #AAA694;

    --accent-font: 'Sancreek';
    --main-font: 'Patrick Hand';

    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--main-font);
}

nav
{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--dark-color);
}

section
{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

footer
{
    display: grid;
    grid-template-areas: 
    "map contact location branding";
    background-color: var(--dark-color);
}

footer > div
{
    padding: 3rem;
}

footer > div > a
{
    color: var(--soft-color);
}

footer > div > a:visited
{
    color: var(--soft-color);
}

h1, h2, h3, h4, h5, h6
{
    font-family: var(--accent-font), serif;
}

li
{
    margin: 1rem auto;
}

.inactive
{
    display: none;
}

.nav-link 
{
    color: var(--soft-color); 
}

#logo-link
{
    text-decoration: none;
}

#nav-links
{
    grid-area: span 2;
    margin-bottom: 1rem;
    display: flex;
    align-self: last baseline;
    justify-content: space-evenly;
}

#about
{
    display: grid;
    grid-template-areas: 
    "links active";
    background-color: var(--soft-color);
}

#about > article
{
    margin-top: 25vh;
    margin-right: 5rem;
    font-size: xx-large;
    padding-left: 5rem;
}

#about-links
{
    color: var(--bright-color);
    margin-right: 3rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-link
{
    margin: 5rem;
    text-decoration: none;
    font-size: large;
    transition: font-size 1s;
}

.about-link:hover
{
   font-size: larger;
}

#course
{
    background-color: var(--dark-color);
}

#course-heading
{
    padding: 5rem 5rem;
}

#course > article
{
    margin: 10vh 5vw;
}

#testimonials
{
    display: grid;
    grid-template-areas: 
    "previous articles next";
}

#testimonials-container
{
    grid-area: articles;
}

#testimonials-container > .active
{
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin: 40vh auto;
    font-size: 25px;
}

#previous-testimonial
{
    grid-area: previous;
}

#next-testimonial
{
    grid-area: next;
}

#order
{
    display: grid;
    background-color: var(--soft-color);
}

#order > article
{
    display: grid;
    justify-self: center;
    margin: auto 5rem;
}

#order > article > h2, h6
{
    margin: 1rem auto;
    justify-self: center;
}

#order-link-block
{
    display: grid;
    grid-template-areas: 
    "h3 a";
}

#order-link-block > h3
{
    align-self: center;
    justify-self: center;
}

#order-link
{
    height: 3rem;
    width: 7rem;
    align-self: center;
    background-color: var(--bright-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#contact
{
    display: flex;
    flex-direction: column;
}

#location > span
{
    margin: 1rem auto
}

#branding
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}